<!DOCTYPE html>
<html>
<head>
  <title>Verify Your Email</title>
</head>
<body>
  <h1>Hello <%= name %>,</h1>
  <p>Thank you for registering with CampusGarh. Please click the link below to verify your email address:</p>
  <a href="<%= url %>">Verify Email</a>
  <p>If you did not create an account, please ignore this email.</p>
  <p>Thanks,<br>CampusGarh Team</p>
</body>
</html>